@import "react-calendar-heatmap/dist/styles.css";
@tailwind base;

@layer base {
  h1 {
    @apply text-2xl font-semibold;
  }
  h2 {
    @apply text-xl font-semibold;
  }
  h3 {
    @apply text-lg;
  }
}

@tailwind components;
@tailwind utilities;

.react-calendar-heatmap-weekday-label {
  @apply px-2;
}

.color-empty {
  fill: #ebedf0;
}

.color-scale-1 {
  fill: #9be9a8;
}

.color-scale-2 {
  fill: #40c463;
}
